{%extends "layout.html"%}
{%block content%}
  <div>

        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="column1">Manager/Owner ID</th>
              <th class="column2">Owner/Manager Name</th>
              <th class="column3">Contact</th>
            </tr>
          </thead>
          <tbody>
              {%for items in data %}
              <tr>
                <td class="column1">{{ items[0] }}</td>
                <td class="column2">{{ items[1] }}</td>
                <td class="column3">{{ items[2] }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>

        <div class="newsletter-right">
          <form id="mc-form2" class="mailing-list cf" method = "post">
            <input id="mc-email2" type="text" value="" name="per_id" style = "padding-right:20px" style = "padding-left:20px"placeholder="Owner/Manager ID"><br>
            <input id="mc-email2" type="text" value="" name="name" placeholder="Owner/Manager Name" style = "padding-right:20px" style = "padding-left:20px"><br>
            <input id="mc-email2" type="text" value="" name="phone" placeholder="Contact" style = "padding-right:20px" style = "padding-left:20px"><br>
              
            <div class="container" style="padding-top: 50px" >
               <button type="submit" id="insert" class="btn btn-secondary">Add</button>
            </div>
          </form>
          <div class="container" style="padding-top: 20px" >
           <button type="button" onclick="window.location.href='/'"class="btn btn-secondary">Logout</button>
          </div>
        </div>

  {%endblock%}
