{%extends "layout.html"%}
{%block content%}
  <div>

        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="column1">Admin ID</th>
              <th class="column1">Admin User Name</th>
            </tr>
          </thead>
          <tbody>
              {%for items in data %}
              <tr>
                <td class="column1">{{ items[0] }}</td>
                <td class="column1">{{ items[1] }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>

        <div class="newsletter-right">
          <form id="mc-form2" class="mailing-list cf" method = "post">
            <input id="mc-email2" type="text" value="" name="admin_username" style = "padding-right:20px" style = "padding-left:20px"placeholder="Admin User Name"><br>
            <input id="mc-email2" type="text" value="" name="password" placeholder="Password" style = "padding-right:20px" style = "padding-left:20px"><br>
            <div class="container" style="padding-top: 50px" >
               <!--<button type="submit" onclick="window.location.href='deladmin' id="delete" class="btn btn-secondary">Delete Admin</button>-->
               <button type="submit"  id="add" class="btn btn-secondary">Add Admin</button>
            </div>
          </form>
      <div class="container" style="padding-top: 20px" >

         <button type="button" onclick="window.location.href='/'"class="btn btn-secondary"  >Logout</button>
       </div
    </div>

  {%endblock%}
